{% extends 'back.html.twig' %}

{% block content %}
    <h1>Agents list</h1>
 <div class="row">   
     <div class="col-md-9"></div>
     <div class="col-md-3">
        <a class="btn btn-success mb-2" href="{{ path('admin_agent_new') }}"><i class="fa fa-plus"></i> Ajouter un nouveau agent</a>
    </div>
</div>
<div class="row">
    {% for agent in agents %}
<div class="col-xs-12 col-sm-6 col-md-3">
    <div class="card mb-3 mx-2">
    <h3 class="card-header">{{ agent.agence.libelle }}</h3>
    <div class="card-body">
        <h5 class="card-title">{{ agent.nom }} {{ agent.prenom }}</h5>
    </div>
    <img style="height: 150px; width: 100%; display: block;" src="{{ asset('uploads/agent/' ~ agent.image ) }}" alt="Card image">
    <div class="card-body">
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tel : {{ agent.tel }}</li>
        <li class="list-group-item">Adresse : {{ agent.adresse | slice(0, 10)  }} ...</li>
    </ul>
        <div class="card-footer text-muted">
        <a class="btn btn-info" href="{{ path('admin_agent_show', { 'id': agent.id }) }}"><i class="fa fa-eye"></i> </a>
        <a class="btn btn-warning" href="{{ path('admin_agent_edit', { 'id': agent.id }) }}"><i class="fa fa-edit"></i> </a>
    </div>
    </div>
</div>
    {% endfor %}
</div>


{% endblock %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href=""> Dashboard /  </a></li>
        <li class="active ml-1">Liste des agents / </li>
    </ul>

{% endblock %}
