<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('back/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/font-awesome.min.css') }}">
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">MK Luxury</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarColor02">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                          <a class="nav-link" href="#"> <i class="fa fa-home"></i> Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">About us</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Contact us</a>
                        </li>
                      </ul>
                      <ul class="navbar-nav navbar-right">
                      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                            <li class="nav-item">
                                <a class="nav-link" href="#"> <i class="fa fa-cog fa-spin" style="color:yellow"></i>  {{ app.user.username }}</a>
                             </li>
                             <li class="nav-item">
                                 <a class="nav-link" href="{{ path('fos_user_security_logout') }}"> <i class="fa fa-sign-out"></i>  {{ 'layout.logout' | trans({},'FOSUserBundle') }}</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}"> <i class="fa fa-sign-in"></i>  {{ 'layout.login' | trans({},'FOSUserBundle') }}</a>
                             </li>
                             <li class="nav-item">
                                 <a class="nav-link" href="{{ path('fos_user_registration_register') }}"> <i class="fa fa-user"></i>  {{ 'layout.register' | trans({},'FOSUserBundle') }}</a>
                            </li>
                        {% endif %}
                      </ul>
                    </div>

                  </nav>

<div class="container-fluid">

  <div class="row mt-4">
    <div class="col-md-4" >
        {% block breadcrumb %}{% endblock %}
    </div>
    <div  class="col-md-8" align="right" id="app">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mt-2">
      <ul class="list-group">
        <li class="list-group-item"><i class="fa fa-building mx-2" aria-hidden="true"></i> Agence</li>
        <li class="list-group-item"><a href="{{ path('admin_agence_index') }}">liste des agences </a></li>
        <li class="list-group-item"><a href="{{ path('admin_agence_new') }}">nouvelle agence</a></li>
        <li class="list-group-item"><i class="fa fa-address-card mx-2" aria-hidden="true"></i> Agent</li>
        <li class="list-group-item"><a href="{{ path('admin_agent_index') }}">list des agents</a></li>
        <li class="list-group-item"><a href="{{ path('admin_agent_new') }}">nouveau agent </a></li>
        <li class="list-group-item"><i class="fa fa-car mx-2" aria-hidden="true"></i> Voiture</li>
        <li class="list-group-item"><a href="{{ path('admin_voiture_index') }}">Liste des voitures </a></li>
        <li class="list-group-item"><a href="{{ path('admin_voiture_new') }}">nouvelle voiture</a></li>
        <li class="list-group-item"><i class="fa fa-users mx-2" aria-hidden="true"></i> Client</li>
        <li class="list-group-item"><a href="{{ path('admin_client_index') }}">Liste des clients </a></li>
        <li class="list-group-item"><i class="fa fa-list mx-2" aria-hidden="true"></i> Reservation</li>
        <li class="list-group-item"><a href="{{ path('admin_reservation_index') }}">Liste des réservations </a></li>
      </ul>
    </div>
    <div class="col-md-10 jumbotron">

      {{ include('alert.html.twig') }}

      
      {% block content %}{% endblock %}

    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

        <script src="{{ asset('js/vue.min.js') }}"></script>
        <script>
          var myApp = new Vue({
            el: "#app",
            data: {
              fastAcces: ""
            },
            methods:{
              getFastAcces: function(){
                window.location = this.fastAcces ;
              }
            }
          });
        </script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
